* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}
/* removed all the periods before the "header" calls in the CSS because they are no longer classes, semantic elements dont require class selectors in a CSS*/
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header h1 .seo {
    color: #d9dcd6;
}
/* changed div to nav because these divs were referring to the navigation bar on the wenpage, a nav is also a semantic element, so changing it from div to nav satifies the acceptance criteria*/
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/*got rid of useless classes inside the HTML benefits class in the sidebar and condensed lead class, brand class, cost class into their own articles, then called .benefits article since all three needed the same margin bottom size and color */
.benefits article
{
    margin-bottom: 32px;
    color: #ffffff;
}
/* Since all headers that were inside the articles inside the benefits class needed the same margin bottom size and text alignment, i called to them from the CSS with the class selector .benefits and then called to article the called to h3*/
.benefits article h3 {
    margin-bottom: 10px;
    text-align: center;
}
/*since all the images inside the article element, which is inside the benefits class, require the same measurements...i just condensed the CSS commands  */

.benefits article img {
    display: block;
    margin: 10px auto;
    max-width: 150px; 
}
/*again, i did the same thing with the main element..all sections required the same formatting so I condensed the CSS coding */
main section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/*all images inside the section elements required the same max height...so they condesed using main section img */
main section img {
    max-height: 200px;
}
/*since headers in the section element required the same margin bottom and font size, they were condensed in the css file here */
main section h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}
